[server]
http_port = 3000
root_url = %(protocol)s://%(domain)s:%(http_port)s/

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}

[database]
type = sqlite3
path = grafana.db
